<div class="container" id='content'>
  <img id="chuck" class="img-responsive center-block" src="https://market.enonic.com/vendors/enonic/_/attachment/inline/1c700535-289d-4563-883f-cb8d4ec69b6a:43f4099ef34bd5fa69c7ab886d971be70cba17db/application.svg" width="320" height="320" alt="An image showing Chuck Norris's head wearing a hat.">
  <div class="text-center">
      <blockquote id="quote">
          <h3>{{message}}</h3>
    </blockquote>
    <div id="footer">
      <span>Chuckle Norris, a pen by Dominik Rosehnal.</span>
    </div>
  </div>
</div>